.analysis {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #fefaf6;
  padding-block: 100px;
}
.analysis .analysisHeader {
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
}
.analysis .analysisHeader:before {
  content: "";
  position: absolute;
  margin: auto;
  border: 1px solid #f2690d;
  padding-block: 4px 5px;
  width: 70px;
  right: 0;
  left: 0;
  bottom: -18px;
  border-left: none;
  border-right: none;
}
.analysis .analysisHeader:after {
  content: "";
  bottom: 5px;
  width: 160px;
  height: 0.4px;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  border: 1px solid #f2690d;
  background-color: #f2690d;
}
.analysis .resultBox.texttt{
  width: 40%;
}

/** nav links **/
.analysis .navLinks .nav {
  justify-content: center;
  margin-bottom: 60px;
}
.analysis .navLinks .nav-tabs {
  border: none;
  --bs-nav-tabs-border-width: 0;
  --bs-nav-tabs-border-color: 0;
  --bs-nav-tabs-border-radius: 0;
  --bs-nav-tabs-link-hover-border-color: 0;
  --bs-nav-tabs-link-active-color: 0;
  --bs-nav-tabs-link-active-bg: 0;
  --bs-nav-tabs-link-active-border-color: 0;
}

.analysis .navLinks .nav .nav-link {
  color: #1c1c1c;
  font-weight: 700;
  position: relative;
}
.analysis .navLinks .nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #1c1c1c;
  transition: 0.4s all;
  left: 0;
  transform: translateX(30%);
  bottom: 0;
}

.analysis .navLinks .nav .active::after {
  width: 60%;
}
/** end nav links */

/*& start input text */
.analysis .textContent {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}
.analysis .textContent #text,
.analysis .textContent #url {
  width: 35%;
  /* box-sizing: border-box; */
  letter-spacing: 1px;
  border: 0;
  padding: 7px 0;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 7px 10px;
  border-radius: 5px;
  transition: all 0.3s;
  /* background-color: #fefaf6; */
}
.analysis .textContent #text:focus,
.analysis .textContent #url:focus {
  border-bottom: 2px solid #f2690d;
  /* transform: translateY(-5px); */
  /* transform: translateY(-5px); */
}
:focus {
  outline: none;
}
/*& end input text */

/* start input text button */
.analysis .textContent .textButton {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px #f2690d solid;
  background-color: #f2690d;
  color: white;
  font-weight: 500;
  transition: all.4s;
  display: block;
  margin: auto;
  margin-top: 10px;
}
.analysis .textContent .textButton:hover {
  background-color: #fefaf6;
  color: black;
}
/* end input text button */

/** start dropdown */
.analysis .textContent #dropdown {
  padding: 5px 10px;
  border: 1px #f2690d solid;
  border-radius: 10px;
  /* background-color: #f2690d; */
  /* color: white; */
  cursor: pointer;
  font-weight: 500;
  margin-left: 10px;
  transition: all.4s;
}
.analysis .textContent #dropdown:hover {
  color: white;
  background-color: #f2690d;
}
/** end dropdown */

/* start Result Box */
.analysis .resultBox {
  background-color: #f0dfcc;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}
.analysis .resultBox.show {
  display: block; /* Show when 'show' class is added */
  opacity: 1; /* Make it fully visible */
}

.analysis .resultBox.hide {
  opacity: 0; /* Make it fully transparent */
}
.analysis .resultBox h3 {
  text-align: start;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 16px;
}
.analysis .sameAsInput {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.analysis .sameAsInput a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* text-decoration: none; */
}

.analysis .sameAsInput a:hover {
  text-decoration: underline;
}

.analysis .sameAsInput a::after {
  content: attr(data-full-url);
  display: none;
  position: absolute;
  left: 0;
  bottom: -1.5em;
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  white-space: nowrap;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.analysis .sameAsInput a:hover::after {
  display: block;
}
.analysis  .shareBtn {
  padding: 5px 25px;
  border-radius: 20px;
  border: 1px #f2690d solid;
  background-color: #f2690d;
  color: white;
  font-weight: 500;
  transition: all.4s;
  display: block;
  /* margin: auto; */
  margin-top: 10px;
}
.analysis .shareBtn:hover {
  background-color: #f0dfcc;
  color: black;
}

.analysis .mostFrequent{
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px #f2690d solid;
  background-color: #f2690d;
  color: white;
  font-weight: 500;
  transition: all.4s;
  display: block;
  /* margin: auto; */
  margin-top: 10px;
}
.analysis .mostFrequent:hover{
  background-color: #f0dfcc;
  color: black;
}
.analysis .frequentWord{
  border: 2px solid black;
  padding: 5px 10px;
  text-align: center;
  border-radius: 6px;
  font-weight: 600;
  margin:5px;
}

/* .analysis .loadingSpinner{
  text-align: center;
  margin: auto;
  color: #f2690d;
  font-size: 30px;
} */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.spinner {
  font-size: 2rem;
  animation: spin 1s linear infinite;
}

/* end Result Box */

/** Start Modal Style */

.analysis .modal .modal-dialog{
  /* margin-top: 200px; */
  width: 75%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 200px;
  border-radius: 10px;
}
.analysis .modal .closeBtn{
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgb(76, 75, 75);
  color: white;
  transition: all.4s;
  display: block;
  /* margin: auto; */
  margin-top: 10px;
}
.analysis .modal .closeBtn:hover{
  background-color: rgb(177, 0, 0);
  border: 1px solid transparent;
}
/** End Modal Style */


/*& mobile screen */
@media screen and (max-width: 769px) {
  .resultBox {
    width: 80%;
  }
  .resultBox .sameAsInput {
    width: 100%;
  }
}
.error {
  font-size: 17px;
  padding: 10px 20px;
  background-color: rgba(255, 0, 0, 0.178);
  color: rgb(161, 0, 0);
  width: fit-content;
  border-radius: 5px;
}

/* Start Comments Button */
.analysis .commentBtn {
  padding: 5px 25px;
  border-radius: 20px;
  border: 1px #f2690d solid;
  background-color: #f2690d;
  color: white;
  font-weight: 500;
  transition: all.4s;
  display: block;
  /* margin: auto; */
  margin-top: 10px;
}
.analysis .commentBtn:hover {
  background-color: #f0dfcc;
  color: black;
}
.analysis .comment {
  margin-block: 10px;
  font-size: large;
}
.analysis .modal-body {
  max-height: 150px;
  min-height: 100px;
  overflow: auto;
}
/* End Comments Button */


/** Start pie chart style */
.analysis .pie-chart-container {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  margin: auto; 
  padding: 5px;
}
/** End pie chart style */

.analysis .scrollable {
  max-height: 200px; /* Example: Adjust based on your design */
  overflow: auto;
}